/ClaseCaca.class
/VerificadorParentesis.class
/BackendMain.class
/InfixRPN.class
/EvaluarRPN.class
/Separador.class
/Identificador.class
/Variables.class
/Operadores.class
/Convertidor.class
/Evaluador.class
/ValidadorEntrada.class
